.custom-navbar {
  background-color: #3b5d50 !important;
  border-bottom: 2px solid rgba(69, 217, 91, 0.437);
}

.login-btn {
  background-color: #4a6baf;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}

.custom-navbar-nav {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
.custom-navbar .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #f8f9fa;
}

.custom-navbar .navbar-brand span {
  color: #007bff;
}

.custom-navbar .nav-link {
  font-size: 16px;
  padding: 10px 15px;
  color: #f8f9fa !important;
  transition: 0.3s;
}

.custom-navbar .nav-link:hover {
  color: #007bff;
  transform: scale(1.1);
}

.container {
  max-width: 100%;
  padding-left: 5px;
}

.custom-navbar-cta {
  display: flex;
  align-items: center;
  margin-right: 0;
}

.custom-navbar-cta .nav-link i {
  font-size: 20px;
  color: #f8f9fa;
}

.custom-navbar-cta .nav-link:hover i {
  color: #007bff;
}
.user-actions-container {
  display: flex;
  align-items: center;
}
.user-dropdown-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
}

.user-dropdown-btn i {
  font-size: 1rem;
}

.box-con {
  height: 90vh;
  background-color: #3b5d50;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 450px;
}

.image-container {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.icon-circle {
  width: 80px;
  height: 80px;
  background-color: #3b5d50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 32px;
  margin: auto;
}


.dropdown-menu {
  margin-top: 20px;
  margin-right: -30px;
  background-color: #91d9be !important;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.dropdown-menu a {
  color: white;
}
.btn-slider {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  font-size: 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.btn-slider:hover {
  background-color: #333;
  color: white;
}
.btn-prev {
  left: 100px;
}
.btn-next {
  right: 100px;
}
@media (max-width: 768px) {
  .btn-slider {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }
  .btn-prev {
    left: 10px;
  }
  .btn-next {
    right: 10px;
  }
}
.topbar,
.sidebar-header {
  margin-top: 80px;
}
